html {
  background: url(/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
  width: 600px;
  margin: 5em auto;
  padding: 2em;
  background-color: #fdfdff;
  border-radius: 0.5em;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}

a:link, a:visited {
  color: #38488f;
  text-decoration: none;
}

img {
  width: 95%;
}

.float-img {
  width: 200px;
}

.float-left {
  float: left;
  padding: 10px;
}

.float-right {
  float: right;
  padding: 10px;
}

.clear-example {
  clear: both;
}

.para1 {
  padding-top: 5px;
}

.unit-span {
  font-size: 2em;
}

@media (max-width: 700px) {
  div {
    margin: 0 auto;
    width: auto;
  }
}